e3-*
*#
*.list
*.swp
.#*
*~
.cmd
.output
tools/setenv*
*.local
RULES*
CONFIG*
DEFINES_FT
DECOUPLE_FLAGS
*.Makefile
cmds/random.cmd
cmds/random_tmp
core*
*.fim
*.ver
test/venv/
.DS_Store
O.*
*.a
*.so
bin/

